@model MyPersonalBlog.DataLayer.DTOS.CreateBlogGroupViewModel
<form method="post">
	<label asp-for=BlogGroupName></label>
	<input asp-for=BlogGroupName />
	<input type="submit" />
	<div asp-validation-summary=All></div>
</form>
